.App {
  text-align: center;
  border: 1px solid black;
 background-color:pink;
 margin: 50px 50px;
 padding: 50px 50px;
}

.docontainer{
  color: black;
 
 
}
.docontainer ul li{
  width: 60px;
 list-style: "✅";
 cursor: pointer;
}